<div class="converter">
  <h2>Системы счисления</h2>
  <div class="input-container">
    <label>Двоичная:</label>
    <input type="number" [(ngModel)]="binary" (input)="convertFromBinary()" />
  </div>
  <div class="input-container">
    <label>Восьмеричная:</label>
    <input type="number" [(ngModel)]="octal" (input)="convertFromOctal()" />
  </div>
  <div class="input-container">
    <label>Десятичная:</label>
    <input type="number" [(ngModel)]="decimal" (input)="convertFromDecimal()" />
  </div>
  <div class="input-container">
    <label>Шестнадцатеричная:</label>
    <input type="text" [(ngModel)]="hexadecimal" (input)="convertFromHexadecimal()" />
  </div>
</div>
