<div class="prime-calculation-container">
  <div class="prime-calculator">
    <h2>Prime Number Calculator</h2>
    <div>
      <label>Start: <input [(ngModel)]="start" type="number"></label>
    </div>
    <div>
      <label>Max: <input [(ngModel)]="max" type="number"></label>
    </div>
    <div>
      <label>Threads: <input [(ngModel)]="threads" type="number"></label>
    </div>
    <div>
      <label>Cycle Param: <input [(ngModel)]="cycleParam" type="number"></label>
    </div>
    <div>
      <button (click)="calculate()">Calculate</button>
    </div>
    <div *ngIf="result">
      <p>Result: {{ result }}</p>
      <p>Time: {{ time }}</p>
    </div>
    <div *ngIf="error">
      <p>Error: {{ error }}</p>
    </div>

  </div>

</div>
