<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
</head>
<body>
<div class="container">
  <form (ngSubmit)="register()">
    <h2>{{ "signUp" | translate }}</h2>
    <div class="input-group">
      <label for="login">{{ "login" | translate }}</label>
      <input type="text" id="login" name="login" [(ngModel)]="login" required>
    </div>
    <div class="input-group">
      <label for="email">{{ "email" | translate }}</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="input-group">
      <label for="password">{{ "password" | translate }}</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="input-group">
      <label for="confirm-password">{{ "passwordC" | translate }}</label>
      <input type="password" id="confirm-password" name="confirm-password" [(ngModel)]="confirmPassword" required>
    </div>
    <button type="submit">{{ "signUp" | translate }}</button>
    <p>{{ "alreadyHave" | translate }}<a routerLink="/login">{{ "signIn" | translate }}</a></p>
  </form>
</div>
</body>
</html>
