.container {
  margin: 100px auto; /* Устанавливаем отступы сверху и снизу и автоматический отступ по бокам */
  width: 90%; /* Занимаем 90% ширины родительского контейнера */
  display: flex; /* Используем flex-контейнер */
  justify-content: center; /* Выравниваем содержимое по горизонтали по центру */
}

.matrix-container, .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matrix-cell {
  width: 40px;
  height: 40px;
  background-color: beige;
  border: 1px solid #ccc;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  width: 30px;
}

.create-button {
  margin-left: 10px;
  width: 150px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background-color: rgba(250, 132, 43, 0.3);
  border: none;
  color: black;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 3px 0;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.button:hover {
  background-color: rgba(250, 132, 43, 0.8);
  color: black;
}

.result-container {
  text-align: center;
}
