<!-- chat-room.component.html -->
<div class="container">
  <div *ngIf="userData.connected; else registerTemplate">
    <div class="chat-box">
      <div class="member-list">
        <ul>
          <li class="item-name" (click)="tab = 'CHATROOM'" [class.active]="tab === 'CHATROOM'">Chatroom</li>
          <li class="item-name" *ngFor="let name of privateChats.keys()" (click)="tab = name" [class.active]="tab === name">{{ name }}</li>
        </ul>
      </div>
      <div *ngIf="tab === 'CHATROOM'" class="chat-content">
        <ul class="chat-messages">
          <div *ngFor="let chat of publicChats" [class.self]="chat.senderName === userData.username">
            <div class="avatar">{{ chat.senderName }} </div>
            <div class="message-data">{{ chat.message }}</div>
          </div>
        </ul>
        <div class="send-message">
          <input type="text" class="input-message" placeholder="Enter the message" [(ngModel)]="userData.message" (input)="handleMessage($event)" />
          <button type="button" class="send-button" (click)="sendValue()">Send</button>
        </div>
      </div>
      <div *ngIf="tab !== 'CHATROOM'" class="chat-content">
        <ul class="chat-messages">
          <div *ngFor="let chat of privateChats.get(tab)" [class.self]="chat.senderName === userData.username">
            <div class="avatar">{{ chat.senderName }}</div>
            <div class="message-data">{{ chat.message }}</div>
          </div>
        </ul>
        <div class="send-message">
          <input type="text" class="input-message" placeholder="Enter the message" [(ngModel)]="userData.message" (input)="handleMessage($event)" />
          <button type="button" class="send-button" (click)="sendPrivateValue()">Send</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #registerTemplate>
    <div class="register">
      <input id="user-name" placeholder="Enter your name" [(ngModel)]="userData.username" (input)="handleUsername($event)" />
      <button type="button" (click)="registerUser()">Connect</button>
    </div>
  </ng-template>
</div>
