<!-- chat.component.html -->


<div class="chat-container">
  <div class="chat-header">
    <h2>Chat</h2>
  </div>

  <div class="message-container" *ngFor="let message of messages">
    <div class="message" [ngClass]="{'my-message': message.isMine, 'other-message': !message.isMine}">
      {{ message.content }}
    </div>
  </div>

  <form class="message-form" (ngSubmit)="sendMessage()">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." name="messageInput">
    <button type="submit">Send</button>
  </form>

</div>
