html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../data/2111.w039.n003.5B.p1.5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

h1 {
  border: 7px rgba(250, 132, 43, 0.6) solid;
  /*rgba(250, 132, 43, 0.8); */
  border-radius: 50px; /* Закруглить углы рамки на 10 пикселей */
  height: 150px;
  /*text-align: center;*/
  background-image: url('../data/Online Calculator.svg');
  background-color: rgba(245, 245, 245, 0.90);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.router-outlet {
  /* Если вам нужны стили для router-outlet, добавьте их здесь */
}

.router-outlet-container {
  background-color: rgba(169, 169, 169, 0.3);
  padding: 20px;
  box-sizing: border-box;
}

.button {
  /*background-color: rgba(250, 250, 250, 0.7);*/
  /*background-color: rgba(140, 77, 9, 0.7); */
  background-color: rgba(250, 132, 43, 0.3);
  border: none;
  color: black;
  width: 5%; /* Ширина кнопок равна 50% ширины контейнера */
  padding: 40px 0; /* Увеличил размер кнопок */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 20px 0;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 50%;
}

.button:hover {
  background-color: rgba(250, 132, 43, 0.8);
  color: black;
}
