/*html {*/
/*  !*height: 100%;*!*/
/*  !*min-height: calc(100% + 800px);*!*/
/*  !*margin: 0;*!*/
/*  !*padding: 0;*!*/
/*  background-image: url('../data/2111.w039.n003.5B.p1.5.jpg');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*}*/



.background-container {
  background-image: url('../data/2111.w039.n003.5B.p1.5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 400vh;
}

h1 {
  border: 7px rgba(250, 132, 43, 0.6) solid;
  border-radius: 50px;
  height: 150px;
  background-image: url('../data/Online Calculator.svg');
  background-color: rgba(245, 245, 245, 0.90);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.router-outlet {
  flex-grow: 1;
}

.router-outlet-container {
  background-color: rgba(169, 169, 169, 0.3);
  padding: 20px;
  box-sizing: border-box;
}

.button {
  background-color: rgba(250, 132, 43, 0.3);
  border: none;
  color: black;
  width: 10%;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 1px 0;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 50%;
}

.button:hover {
  background-color: rgba(250, 132, 43, 0.8);
  color: black;
}
