<div class="container">
  <div class="input-container">
    <input type="text" [(ngModel)]="query" placeholder="Enter your query...">
    <button (click)="submitQuery()">Submit</button>
  </div>
  <div *ngIf="result" class="result-container">
    <h2>Result:</h2>
    <p>{{ result }}</p>
  </div>


  <div class="parent-container">
    <router-outlet></router-outlet>
  </div>

  <div class="button-panel">
    <div class="button-row">
      <button class="square-button" routerLink = "matrix">Matrix</button>
      <button class="square-button" routerLink = "conversion">Conversion</button>
      <button class="square-button">Integral</button>
      <button class="square-button">Graphics</button>
    </div>
    <div class="button-row">
      <button class="square-button">Button 5</button>
      <button class="square-button">Button 6</button>
      <button class="square-button">Button 7</button>
      <button class="square-button">Button 8</button>
    </div>
  </div>
</div>
